<a href="mailto:?subject=PCP Finance Quote&amp;body=PCP Finance Quote @Context.Request.Host@Context.Request.Path@Context.Request.QueryString "
   title="Share by Email">
    <i class="fa fa-envelope"></i>
</a>
