<div class="d-none d-md-block">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- wideScraper -->
    <ins class="adsbygoogle"
         style="display:block;width:160px;height:600px"
         data-ad-client="ca-pub-5648791484769694"
         data-ad-slot="7664478529"></ins>
    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
