
@* full screen banner *@
<div class="d-none d-md-block">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- leader -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-5648791484769694"
         data-ad-slot="1617944920"></ins>
    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <br />
</div>
@* mobile banner *@
<div class="d-md-none">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- large mobile banner -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:100px"
         data-ad-client="ca-pub-5648791484769694"
         data-ad-slot="3558121194"></ins>
    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>  
