@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Calculate PCP Repayments";
    ViewData["PageHeader"] = "PCP Finance Calculator";
}
@section Meta {
    <meta property="og:title" content="Online PCP Finance Calculator Tool" />
    <meta property="og:url" content="https://pcpfinancecalculator.co.uk" />
    <meta property="og:description" content="Use this tool to calculate PCP finance monthly payments and how much it will cost in interest?" />
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card ">Enter your details</div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input id="price" class="form-control" type="text" asp-for="FinanceData.Price"
                               placeholder="&#xA3;">
                        <span asp-validation-for="FinanceData.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="deposit">Deposit:</label>
                        <input id="deposit" class="form-control" type="text" asp-for="FinanceData.Deposit"
                               placeholder="&#xA3;">
                        <span asp-validation-for="FinanceData.Deposit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="dealerContribution">Dealer Contribution:</label>
                        <input id="dealerContribution" class="form-control"
                               type="text" asp-for="FinanceData.DealerContribution" placeholder="&#xA3;">
                        <span asp-validation-for="FinanceData.DealerContribution" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="term">Term:</label>
                        <input id="term" class="form-control" type="text" asp-for="FinanceData.Term"
                               placeholder="Months">
                        <span asp-validation-for="FinanceData.Term" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="rate">Rate:</label>
                        <input id="rate" class="form-control" type="text" asp-for="FinanceData.Rate"
                               placeholder="%">
                        <span asp-validation-for="FinanceData.Rate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="finalPayment">Final Payment:</label>
                        <input id="finalPayment" class="form-control" type="text"
                               asp-for="FinanceData.FinalPayment" placeholder="&#xA3;">
                        <span asp-validation-for="FinanceData.FinalPayment" class="text-danger"></span>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
<br />
@* full screen banner *@
<div class="d-none d-md-block">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- leader -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-5648791484769694"
         data-ad-slot="1617944920"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <br />
</div>
@* mobile banner *@
<div class="d-md-none">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- large mobile banner -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:100px"
         data-ad-client="ca-pub-5648791484769694"
         data-ad-slot="3558121194"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p>
                    PCP (Personal Contract Purchase) finance is a method of buying a car where you pay for a portion of the value over an agreed period of time.
                    At the end of the term you can either pay the final value (GMFV) and own the car, or trade the car in and use any equity towards the cost of the next vehicle.
                </p>
                <p>
                    Car leasing (lease hire or PCH) is similar to PCP however the car will usually be returned at the end of the agreement with no option to purchase.
                </p>
                <p>
                    Simply enter the details above and your monthly payment will be calculated.
                </p>

            </div>
        </div>
    </div>
</div>


