@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Calculate PCP Repayments";
}

<h1 class="page-header">PCP Finance Calculator</h1>
<div class="panel">
    <div class="panel-heading">Enter your details</div>
    <div class="panel-body">
        <form method="post">
            <div class="form-group">
                <input class="form-control" type="text" asp-for="FinanceData.Price" />
            </div>
        </form>
    </div>
</div>
